<h1>Listing time_boxes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Time zone</th>
    <th>Top</th>
    <th>Left</th>
    <th>Font size</th>
    <th>Font color</th>
    <th>Venue</th>
    <th>Is show</th>
  </tr>

<% @time_boxes.each do |time_box| %>
  <tr>
    <td><%=h time_box.name %></td>
    <td><%=h time_box.time_zone %></td>
    <td><%=h time_box.top %></td>
    <td><%=h time_box.left %></td>
    <td><%=h time_box.font_size %></td>
    <td><%=h time_box.font_color %></td>
    <td><%=h time_box.venue_id %></td>
    <td><%=h time_box.is_show %></td>
    <td><%= link_to 'Show', time_box %></td>
    <td><%= link_to 'Edit', edit_time_box_path(time_box) %></td>
    <td><%= link_to 'Destroy', time_box, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New time_box', new_time_box_path %>