<div class="sub_menu">
<%= link_to 'Back', '/venues/'+params[:venue_id].to_s %>
</div>

<h1>New advertisement</h1>

<% form_for(@advertisement, :html => { :multipart => 'true' }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :youtube_url %><br />
    <%= f.text_field :youtube_url %>
  </p>
  <!--p>
    <%= f.label :top %><br />
    <%= f.text_field :top %>
  </p>
  <p>
    <%= f.label :left %><br />
    <%= f.text_field :left %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p-->
  <p>
    <%= f.label :time_interval %><br />
    <%= f.text_field :time_interval %>
  </p>
  <p>
    <%= f.label :playlist_begin %><br />
    <%= f.text_field :playlist_begin, :id=>"date1", :class=>"date-pick" %>
  </p>
  <p>
    <%= f.label :playlist_finish %><br />
    <%= f.text_field :playlist_finish, :id=>"date2", :class=>"date-pick" %>
  </p>
  <p>
    <%= hidden_field_tag(:venue_id, params[:venue_id].to_s) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
